# Last match in file takes precedence.

# Ping for all PRs
* @AndrewFenriz

# Locale
#/Resources/Locale @
#/Resources/ServerInfo @

# Textures
#/Resources/Textures @

# Map files
/Resources/Prototypes/.../Maps @
/Resources/Maps/ @k

